{% extends "base.html" %}

{% block content %}
 
<section class="education">
<div class = "edu_heading">
	<h2>How I Met Michigan</h2>
	<h3>My story of going blue</h3>
</div>

	<div class = "UofM">
		<h3>What Made Me Pick University of Michigan?</h3>
		<p>I never thought I would go to University of Michigan for college. I dreamed of going to UCLA back in California, where summer is year round and snow is a distant dream. I wanted a school with great athletics, academics, and a diverse student body in a warm place. My parents told me to apply to Michigan because it had everything I wanted except the weather. I applied in the middle of Hurricane Sandy and thought nothing of it. After visiting UCLA and Michigan for accepted student day, my choice was clear: I needed to Go Blue. Michigan was the place I never thought I wanted, and never knew I needed, but I wouldn't trade my time here for anything. </p>
	</div>


	<div class="SI">
		<h3>From Undecided to BSI</h3>
			<p>I came to U of M bright eyed, bushy-tailed, and with my sites set on Ross. Oh, how naive I was. One rejected application later, I was a Comminication Studies major feeling unfullfilled at the lack of challenge. I've always had an interest in technology, but I was too intimidated to be a Computer Science major. My roommate is a Campus Day tour guide, and they were given presentations by all the upper level schools so they could speak to the incoming freshman about them. While the School of Information was presenting, all my roommate could think about was me. She ran to the library, threw a BSI information booklet at me, and left. The rest is history.</p>

	</div>
</section>

{% endblock %}