{% extends "base.html" %}

{% block content %}
<div class="KeepingUp">
	<h2>Where in the World Have I Lived?</h2>
</div>


<div class="CA_1">
	<h3>March 28th, 1995-February 1996</h3>
		<h4>Los Angeles, California</h4>
			<p>I was born in Los Angeles California on March 28th, 1995. My parents and I lived there until just before my first birthday.</p>
</div>



<div class = "NJ_1">
	<h3>February 1996-December 2003</h3>
		<h4>Mendham, New Jersey</h4>
			<p>My parents moved to Mendham, New Jersey, and had my two sisters. We lived in Mendham until the end of 2003, when I was 8 years old and in third grade.</p>
		
</div>



<div class = "CA_2">
	<h3>December 2003-June 2006</h3>
		<h4>Irvine, California</h4>
			<p>I finished third grade in Irvine, California. This was my first big move and I struggled to fit in. We lived there until the end of 5th grade in 2006 when I was 11.</p>
</div>


<div class = "TN">
	<h3>June 2006-June 2008</h3>
		<h4>Brentwood, Tennessee</h4>
			<p>I started middle school in Brentwood, Tennessee. I was a fish out of water in the south, but I adapted and made some of the greatest friends I've ever had. We left after 7th grade in 2008, and I was 13.</p>
</div>


<div class = "NJ_2">
	<h3>June 2008-Present</h3>
		<h4>Mendham, New Jersey</h4>
			<p>I finished middle school back in Mendham, New Jersey. Even though I had lived here already, and for so long, this was the hardest move I experienced. I expected everything to be as it was before, but I was wrong and had to make all new friends. We still live in Mendham and I am grateful that I got to graduate Kindergarten and High School with the same people.</p>
</div>

<div class = "MI">
	<h3>August 2013-Present</h3>
		<h4>Ann Arbor, Michigan</h4>
			<p>Going to college in Michigan was an expected surprise, and I wouldnt have it any other way. You can read more about my journey to University of Michigan and the School of Information <a href= "education.html">here</a></p>
</div>

<div class = "UK">
	<h3>Coming Soon: January 2016</h3>
		<h4>London, England</h4>
			<p>Moving around has taught me to push myself outside of my comfort zone, and next semester I plan to do just that. I will be studying Management and Computer Science at University College, London. I can't wait to meet new people and live in the city I have dreamed about since I was 15!</p>
</div>

{% endblock %}